@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background-color: #000000 !important;
    color: #4e4e4e;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1e1e1e;
  }
  
  a {
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  a:hover {
    color: #0078ff;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  .p-r {
    position: relative;
  }
  
  .color-a {
    text-decoration: none;
    color: #0078ff;
  }
  
  .color-d {
    color: #f5f5f5;
  }
  
  .color-text-a {
    text-decoration: none;
    color: #4e4e4e;
  }
  
  .box-shadow,
  .paralax-mf,
  .service-box,
  .work-box,
  .card-blog {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  }
  
  .box-shadow-a,
  .button:hover {
    text-decoration: none;
    box-shadow: 0 0 0 4px #cde1f8;
  }
  
  .display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
  }
  
  .bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  
  @media (max-width: 1024px) {
    .bg-image {
      background-attachment: scroll;
    }
  }
  
  .overlay-mf {
    background-color: #0078ff;
  }
  
  .overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  
  .paralax-mf {
    position: relative;
    padding: 8rem 0;
  }
  
  .display-table {
    width: 100%;
    height: 100%;
    display: table;
  }
  
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  
  /*--/ Sections /--*/
  .sect-4 {
    padding: 4rem 0;
  }
  
  .sect-pt4 {
    padding-top: 4rem;
  }
  
  .sect-mt4 {
    margin-top: 4rem;
  }
  
  /*--/ Title s /--*/
  .title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
  }
  
  /*--/ Title A /--*/
  .title-box {
    margin-bottom: 4rem;
  }
  
  .title-a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .subtitle-a {
    text-decoration: none;
    color: #4e4e4e;
  }
  
  .line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
  }
  
  /*--/ Title Left /--*/
  .title-box-2 {
    margin-bottom: 3rem;
  }
  
  .title-left {
    font-size: 2rem;
    position: relative;
  }
  
  .title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 200px;
    bottom: -12px;
  }
  /*Navbar*/
.topnav {
    background-color: rgb(4, 0, 255);
    overflow: hidden;
    position:fixed;
    top:0%;
    width:100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(144, 164, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8fffbd;
    color: white;
  }
  