* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  .page {
    min-height: 100vh;
    background: url("/frontend/images/Untitled.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
  }
  
  .page .overlay {
    min-height: 100vh;
  }
  
  .page .navbar {
    padding: 1.2rem 2rem;
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 100%;
  }
  
  .card {
    padding: 3rem;
    background-color: rgba(44, 96, 156, 0.5);
    color: #fff;
    border-radius: 5px;
    width: 40%;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    margin-top: -50px;
  }
  
  .card h1 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    letter-spacing: 1.3px;
  }
  
  .card .input {
    background-color: #304c70;
    border: none;
    padding: 1rem 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 3px;
    color: #eeeeee;
  }
  
  .card .input::-webkit-input-placeholder {
    color: #aaa;
  }
  
  .card .input:-ms-input-placeholder {
    color: #aaa;
  }
  
  .card .input::-ms-input-placeholder {
    color: #aaa;
  }
  
  .card .input::placeholder {
    color: #aaa;
  }
  
  .card .input:focus {
    border: 1px solid #eeeeee;
  }
  
  .card .btn-primary {
    background-color: #0931e5;
    padding: 1rem 1.5rem;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-weight: 600;
    letter-spacing: 1.2px;
    cursor: pointer;
  }
  
  .card .checkbox,
  .card .link {
    font-size: 0.8rem;
  }
  
  .card .link {
    color: #eeeeee;
    text-decoration: none;
  }
  
  .justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media screen and (max-width: 600px) {
    .card {
      width: 80%;
    }
  }